# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AspNetCore_Library.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Code\0_Learning\AspNetCore_Library\.idea\.idea.AspNetCore_Library\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
