<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
    <variable name="logDirectory" value="${basedir}/logs" />
    <targets>
        <target name="logFile"
                xsi:type="File"
                fileName="${logDirectory}/app_logs_${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
        <target name="logConsole" xsi:type="Console" />
    </targets>
    <rules>
        <logger name="Microsoft.*" minlevel="Trace" writeTo="logConsole" final="true" />
        <logger name="*" minlevel="Trace" writeTo="logFile" />
    </rules>
</nlog>